:javascript
  /*
  How to...
    Help your friend learn when to use a search engine:
      Get a link that helps your friend get the answer
        Ask us their question (e.g. "what is recursion")
          Enter the question into the question field
          Click the Go button
        Get a google link
          You now have a google link that performs the search "what is recursion"

    See why we can't help you with the question you've asked:
      With Javascript
        Ask a question we can't help you with (e.g. the question is blank)
          Enter the question into the question field
        Receive feedback
          You should see feedback about why we can't answer the question
          (e.g. the feedback says "Enter a question into the question field")
      Without javascript
        Ask a question we can't help you with (e.g. the question is blank)
          Enter the question into the question field
          Click the Go Button
        Receive feedback
          You should see feedback about why we can't answer the question
          (e.g. the feedback says "Enter a question into the question field")
  */
  var example_questions = [
    [ "QUESTION",          "LINK"                                          ],
    [ "what is recursion", "https://google.com/search?q=what+is+recursion" ]
  ];
  var bad_questions = [
    [ "QUESTION", "HINT"                                                                          ],
    [ "",         ["Enter your friend's question into the question field", "Click the Go Button" ]]
  ];

%h1 Google Fish
%p Sometimes 'friends' ask the dumbest questions that, quite frankly, they could have just googled. But, oh no, they have to text you or email you or worse, phone you! Guide them to a more righteous path so they learn to be self-sufficient!
%blockquote
  .quote Give a man a fish and you feed him for a day; teach a man to fish and you feed him for a lifetime.
  .by Maimonides

.task#ask-the-question
  %form
    .interaction.enter-text#question
      %input{name: "question", type: "text", value: question}
        ?
      .hint
        - if question.nil?
          Enter your friend's question into the question field
        - unless question.nil?
          Enter a new question to get a new link
    .interaction.click#go
      %input{value: "Go", type: "submit"}
      .hint Click the Go button

- unless question.nil?
  .task#get-your-google-link
    .interaction
      .hint
        You now have a google link that performs the search
        %i= question
      %p
        %a{href: question_url}= question_url

#footer
  .disclaimer
    %p 
      %i Any use of the term 'google' is used as a verb. Any capitalisation of the word is for gramatical correctness only. The term to "google fish" is to teach a friend or colleague to use a search engine to find the answers to questions rather than constantly bugging you.
